<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backButton()">
        <ion-icon name="chevron-back-outline" class="return">
        </ion-icon>
        <ion-label>Back</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box">
		<ion-grid>
			<ion-row>
			<ion-col col-6>
				<div class="divimg">
					<img class="imgloginlogo" src="/assets/fieldtracking.png">
				</div>
			</ion-col>
			</ion-row>
		</ion-grid>

		<h1>Forgot Password</h1>
		<ion-grid>
			<ion-row class="rowtop">
				<ion-col size="12">
					<input class="nomargtop" id="email" type="email" [(ngModel)]="email" placeholder="Email adress">
					<input class="showcode" id="codex" type="text" placeholder="Reset Code" (keyup)="codeCheck()"  maxlength="5"  style="display: none;">
					<input class="password showverify" id="password1" type="text" placeholder="New Password" (keyup)="passCheck()" style="display: none;">
					<input class="password showverify" id="password2" type="text" placeholder="Confirm Password" (keyup)="passCheck()" style="display: none;">
					<input type="submit" id="verifyEmail" value="Verify Email" (click)="checkEmail()">
					<input type="submit" id="confirmPassword" value="Update password" (click)="confirmPassword()" style="display: none;">
				</ion-col>
			</ion-row>
		</ion-grid>
  </div>
</ion-content>