@font-face {
    font-family: 'Poetsen One';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/fonts/PoetsenOne-Regular.ttf);
}


ion-col div {
    background-color: #191a30;
    border: 1px solid #191a30;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
}

.box {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.box h1 {
    color: #202945;
    // text-transform: uppercase;
    font-weight: 500;
    font-family: 'Poetsen One';
    margin-top: 0;
}


.box {
    input{
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #202945;
        padding: 14px 10px;
        width: 240px;
        outline: none;
        color: black;
        border-radius: 24px;
        transition: 0.25s;
        font-family: "Poetsen One";
    }
    
}
.box input[type = "text"]:focus, .box input[type = "password"]:focus {
    width: 260px;
    border-color: #ffb444;
}
.box input[type = "submit"] {
    border: 0;
    // background: linear-gradient(to right, #0967d3, #09a0d3);
    background-color: #202945;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    color: #ffb444;
    border-radius: 24px;
    text-transform: uppercase;
    font-family: 'Poetsen One';
    margin-top: 0;
    font-weight: 900;
}

.imgloginlogo {
    width: 80%;
    margin: 0 auto;
}

.divimg {
    background-color: transparent!important;
    border: none!important;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
}

.rowtop {
    padding: 0 5px;
}

ion-button {
    text-transform: none;
    font-family: 'Poetsen One';
}
