ion-list-header {
    color: #202945;
    font-weight: 500;
    font-family: 'Poetsen One';
    font-size: larger;
    text-align: center;
    margin-left: -10px !important;
}

ion-button {
    text-transform: none;
    font-family: 'Poetsen One';
}

.head {
    text-align: center;
    font-weight: 700;
    font-family: 'Poetsen One';
}

.header {
    border: 1px solid black;
    font-size: 12px;
    text-align: center;
    background-color: #ffb444;
    font-family: 'Poetsen One';
}

.header-r {
    border: 1px solid black;
    border-right: 0px !important;
    font-size: 12px;
    text-align: center;
    background-color: #ffb444;
    font-family: 'Poetsen One';
}

.header1 {
    border: 1px solid black;
    border-top: 0px !important;
    font-size: 12px;
    text-align: center;
}

.header-r1 {
    border: 1px solid black;
    border-right: 0px !important;
    border-top: 0px !important;
    font-size: 12px;
    text-align: center;
}