@font-face {
    font-family: 'Poetsen One';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/fonts/PoetsenOne-Regular.ttf);
}

.no-scroll {
    --overflow: hidden;
}

.loginbg {
    --background: #ffffff;
}


ion-col div {
    border-radius: 2px;
    padding: 5px;
    text-align: center;
    padding-top: 120px;
}

.box {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.box h1 {
    color: #202945;
    // text-transform: uppercase;
    font-weight: 500;
    font-family: 'Poetsen One';
    margin-top: 0;
}


.box input[type = "text"], .box input[type = "password"], .box input[type = "tel"], .box select {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #202945;
    padding: 14px 10px;
    width: 240px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    font-family: "Poetsen One";
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus, .box input[type = "tel"]:focus {
    width: 248px;
    border-color: #ffb444;
}
.box input[type = "button"] {
    border: 0;
    // background: linear-gradient(to right, #0967d3, #09a0d3);
    background-color: #202945;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    color: #ffb444;
    border-radius: 24px;
    text-transform: uppercase;
    font-family: 'Poetsen One';
    margin-top: 0;
    font-weight: 900;
}

.imgloginlogo {
    width: 80%;
    margin: 0 auto;
}

.divimg {
    background-color: transparent!important;
    border: none!important;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
}

.padbot {
    padding-bottom: 60px;
}

.no-scroll{
    // overflow: hidden;
    overflow-y: auto !important;
}